body {
  font-family: "Open Sans", serif;
}
.hero.is-success {
  background: #f2f6fa;
  color: #4a4a4a;
}
.hero-body {
  padding: 2rem 1.5rem;
}
.field {
  margin: 0.5rem;
}
.gpa {
  justify-content: center;
  margin: 1rem;
}
